/* === Body === */
body {
  /* background-image: url("/images/background.jpg"); */
  background-color: #e4e4e4;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: scroll;
}

/* === Scrollbar === */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* === Navbar === */
.navbar{
  background-color: #080705ff;
  font-family: 'Signika', sans-serif;
}

.nav-link{
  color: #fffffaff;
}

.nav-link:not(.nav-search):hover{
  color: #a07945;
}

.navbar-brand{
  color: #fffffaff;
}

.navbar-brand:hover{
  color: #a07945;
}

.navbar-toggler-icon {
  color: #fffffaff;
  padding-top: 4px;
}

/* === Search Bar === */
#search-icon {
  padding-right: 5px;
}

/* === Card === */
.card{
  background-color: transparent;
}

/* === Seção === */
.secao-header{
  background-color: #333333;
}

.secao-header .btn-link {
  font-family: 'Lalezar', cursive;
  font-size: 48px;
  color: #e4e4e4;
}

.secao-header .btn-link:hover {
  color: #a07945;
}

/* === Categoria === */
.categoria-wrapper{
  margin-bottom: 10px;
}

.categoria-header{
  background-color: #333333;
}

.categoria-header .btn-link {
  font-family: 'Lalezar', cursive;
  font-size: 28px;
  color: #e4e4e4;
}

.categoria-header .btn-link:hover {
  color: #a07945;
}

/* === Produto === */
.produto-title {
  font-weight: bold;
}

.produto-price {
  width: 60px;
  background-color: #333333;
  color: #e4e4e4;
  text-align: center;
}

.produto-container::after{
  content: ""; /* This is necessary for the pseudo element to work. */
  display: block; /* This will put the pseudo element on its own line. */
  width: 100%; /* Change this to whatever width you want. */
  padding-top: 3px; /* This creates some space between the element and the border. */
  margin-bottom: 12px;
  border-bottom: 1px dotted rgba(51, 51, 51, 0.5); /* This creates the border. Replace black with whatever color you want. */
}

/* === Expand/Collapse All Button*/
#btn-expand-all {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 80px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #080705ff;
  color: #fffffaff;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#btn-expand-all:hover {
  background-color: #7c4a24;
  /* color: #a07945; */
}

#btn-collapse-all {
  display: block;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #080705ff;
  color: #fffffaff;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#btn-collapse-all:hover {
  background-color: #7c4a24;
  /* color: #a07945; */
}
