body {
  /* background-image: url("/images/background.jpg"); */
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("/images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main-div{
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.masthead{
  padding-top: 10px;
  padding-bottom: 10px;
}

.cardapio-heading{
  font-family: 'Tangerine', cursive;
  font-size: 5vw;
  color: #c49a3e;
  text-align: center;
}

.img-cardapio-header-top{
  max-width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -1.5vw;
  transform: scaleY(-1);
}

.img-cardapio-header-bottom{
  max-width: 30%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: -2.5vw;
}

.navbar{
  background-color: #080705ff;
}

.nav-link{
  color: #fffffaff;
}

.card-header{
  background-color: #40434eff;
}

/* link */
.btn-link {
  color: #fffffaff;
}

/* unvisited link */
.btn-link:link {
  color: #fffffaff;
}

/* visited link */
.btn-link:visited {
  color: #702632ff;
}

/* mouse over link */
.btn-link:hover {
  color: #C1495D;
}

/* selected link */
.btn-link:active {
  color: #702632ff;
}

.card{
  border-color: #373A43;
  border-width: thin;
  border-radius: 5px;
}

.card-body{
  background-color: #BCBEC8;
  /* border: 1px; */
  /* border-color: #702632ff !important; */
}

.card-body-produto{
  background-color: #fffffaff !important;
}

.btn-circle.btn-sm {
    width: 20px;
    height: 20px;
    padding: 1px 1px;
    border-radius: 10px;
    font-size: 9px;
    text-align: center;
    background-color: #c49a3e;
    border: none;
    opacity: 80%;
}

.hide {
  display:none;
}
